{% extends "portfolio/index.html" %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to my Dingo site</h1>
      <hr />
      <p>
        My website showcases my skills and projects in the field of
        web development. Here, you can find information about me, my work, and
        how to contact me.
      </p>
          <h2>Home</h2>
      <p>
        You are here now.
      </p>
            <h2>Contact</h2>
      <p>
        In the Contact section, you can send me a message or connect with me on
        social media.
      </p>

          <h2>About</h2>
      <p>
        In the About Me section, you can learn about my background, education,
        and experience.
      </p>
          <h2>Maths</h2>
      <p>
        Let's do some simple math togather!
      </p>
      <h2>Posts</h2>
      <p>
        Just some random posts. Nothing to see here.
      </p>

    </div>
        <div class="col-md-6">
      <img src="{{ dingo_image_url }}" alt="Dingo Picture" class="img-fluid">
    </div>
  </div>
</div>

{% endblock %}
