{% extends "portfolio/index.html" %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to my Portfolio</h1>
      <hr>
      <p>My portfolio website showcases my skills and projects in the field of web development. Here, you can find information about me, my work, and how to contact me.</p>
      <h2>About Me</h2>
      <p>In the About Me section, you can learn about my background, education, and experience. I have a degree in computer science and several years of experience in web development, which has given me the skills and knowledge necessary to create high-quality websites and applications.</p>
      <h2>Projects (work in progress)</h2>
      <p>In the Projects section, you can find examples of my work. I have created websites for clients in a variety of industries, including e-commerce, healthcare, and finance. Each project includes a brief description, screenshots, and a link to view the live website.</p>
      <h2>Contact</h2>
      <p>In the Contact section, you can send me a message or connect with me on social media. I am always looking for new opportunities to collaborate and grow my skills, so feel free to get in touch!</p>
    </div>
  </div>
</div>

{% endblock %}