
{% extends 'dingo/main.html' %}
{% block main %}
<body>
<div id="content">

   {% if messages %}
       <ul class="messages">
           {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
           {% endfor %}
       </ul>
   {% endif %}
   <div id="inner-content">

       {% block content %}
           To jest blok kodu. W innych szablonach możemy go nadpisać
       {% endblock %}
   </div>
</div>
</body>
{%endblock%}